 * {
     font-family: Lato, sans-serif;
     max-width: 900px;
 }
 
 body {
     border-left: 10px solid #ccc;
     padding: 3em;
 }
 
 h1 a {
     color: #FED673;
     text-decoration: none;
     font-weight: 400;
     font-size: 60px;
 }
 
 h2 {
     font-weight: 400;
     font-size: 33px;
 }
 
 nav a {
     color: #CCCCCC;
     margin-right: 10px;
     font-size: 30px;
     border-bottom: 2px solid;
     text-decoration: none;
     padding-bottom: 2px;
 }
 
 header {
     margin-bottom: 70px;
 }
 
 h3 {
     color: #cccccc;
     font-size: 40px;
     font-weight: 400;
     margin-bottom: -10px;
 }
 
 article h2 a {
     color: #000;
     text-decoration: none;
     font-size: 40px;
 }
 
 article p {
     max-width: 900px;
     line-height: 1.5em;
 }
 
 article p:first-letter {
     color: #ccc;
     font-size: 90px;
     line-height: 70px;
     float: left;
     padding: 5px;
     height: 64px;
     margin-right: 10px;
 }
 
 h4 a {
     color: #FED673;
     text-decoration: none;
 }
 
 h4 {
     text-align: right;
 }
 
 article {
     color: #ccc;
     border-bottom: 1px solid;
     margin-bottom: 50px;
 }
 
 footer nav a {
     font-size: 18px;
     color: #FED673;
     text-decoration: none;
     border: none;
     margin-right: 0;
 }
 
 footer {
     color: #ccc;
 }
